/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* project css */
.bg-body{ background-color:#081832; }
.nav-top{ height:55px;width:100%;background-color:#030829; }
.nav-top .nav-center{ width:40%;height:100%;margin:0 auto;color:#ddd;text-align: center;background-image:url(../img/logoBg.png);background-size: 100% 100%; }
.nav-center h2{padding:8px 0 5px 0;}
.nav-center p{font-size:10px;}
.h2{ font-size:17px;}
.left{ float: left;}
.right{ float: right; }
.clear{clear: both;}
.mr0{margin-right: 0 !important;}
.mcenter{margin:0 17px;}
.mcenter-data{margin:0 24.6px;}
.fs60{font-size:60px !important;}
.fs14{font-size: 14px;}
.m5{margin:0 5px;}


.section{ width:90%;margin:20px auto 0 auto; }
.item-button{ width:110px;height: 34px;line-height: 34px;background-color: #04425f;margin-bottom: 15px;margin-left: 1%;padding-left: 10px;border-radius: 1px;box-shadow: 0px 3px 3px #61d2f7;color:#25f3e6;}
.item-button .icon{ padding-right: 5px;color:#fff; }
.item-panel{ height:90px;background-color: #034c6a;width: 30%;padding:0 8px;display: inline-block; }
.item-panel .item-panel-left{width:30%;display: inline-block;line-height:90px;}
.item-panel .item-panel-left .icon{font-size:65px;}
.item-panel .item-panel-right{width:68%;display: inline-block;text-align: center;}

.item-panel .item-panel-right p{ color:#ddd;font-size:15px;padding-bottom: 6px; }
.item-panel .item-panel-right div{ font-size: 26px;font-weight: 600;}

.color-yel{color:#ffff43;}
.color-sky{color:#25f3e6;}
.color-org{color:#ff4e4e;}

.chart-data{margin-top:25px;}
.data-model{width: 100%;height: 300px;display:inline-block;box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 
0px 10px 15px #034c6a inset;border: 1px solid #034c6a;box-sizing: border-box; position: relative;}
.model-left{width:32%;}
.model-right{width:66%;}
.data-model .model-title{background-color: #034c6a;border-radius: 18px;position: absolute;height: 30px;	width: 55%;top: -15px;color: #ddd;
	font-size: 15px;left: 20%;line-height: 30px;text-align: center;}
.data-model .model-title .icon{padding-right:3px;}
.data-model .model-body{overflow: hidden;margin-top:15px;height:90%;}
.data-model .model-body table{border-collapse: collapse;text-align: center;width: 94%;margin: auto;}
.data-model .model-body table thead th{ color: #61d2f7;font-size: 14px;font-weight: 600; padding: 10px 0;}
.data-model .model-body table tbody td{ color:#fff;padding:2%;}
.data-model .model-body table tbody tr:nth-child(2n+1){background-color: #072951;box-shadow: -10px 0px 15px #034c6a inset, 10px 0px 15px #034c6a inset;}
.tableid_{text-align: center;width: 94%;margin: auto;background-color: #034c6a;}
.text-tip{ color:#ff4e4e;position:absolute;top: 150px;font-weight: bold;font-size: 12px;}

.data-model .model-body table tbody .tr-ok td{color:#32cd32;}
.data-model .model-body table tbody .tr-error td{color:#ff4e4e;}
.echart-tips{ position: absolute;top: 38%;left:38%;font-size:18px;font-weight: 700;}
.tableid_ thead tr td{opacity:0;}


.enter-box{display: flex;display: -webkit-flex; /* Safari */ justify-content: flex-start;width:900px;margin: auto;flex-wrap: wrap;}
.enter-box .enter-item{height: 90px;width:200px;overflow: hidden;text-align: center;font-size:28px;line-height:90px;color: #ddd;cursor: pointer; border: 1px solid #034c6a;box-shadow: 0px 0px 60px #034c6a inset;margin:0 20px 20px 0;}
/* .enter-box .enter-item.active {color: #cec908;box-shadow: 0px 0px 70px #cec908 inset;border: 1px solid #4a4918; } */
.enter-text{width:90%;margin: 0 10px;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.enter-box .enter-item.active{color:#cec908;box-shadow:5px 2px 9px #cec91e inset, 2px 2px 9px #cec91e inset, 2px -4px 9px #cec91e inset, -4px -2px 9px #cec91e inset;border: 1px solid #cec908;}

.enter-room{position:absolute;top: 8px;right: 50px;background-color: #032e4d;color: #ddd;border: 0;outline: none;width: 100px;height: 40px;font-size: 16px;border-radius: 3px;line-height: 40px;cursor: pointer;}
.enter-room:hover,.enter-room:active{background-color: transparent;color: #ddd;box-shadow:-2px -2px 6px #032e4d, 2px -2px 2px #032e4d, 2px 2px 2px #032e4d, -2px 2px 6px #032e4d;}

/* 电视弹框 */
.tv-alert{position:fixed;top:0;width:100%;height:100%;z-index:9999;background-color:#ffffff54;}
.tv-mask{position: absolute;width: 300px;height: 100px;background-color: #fff;border-radius: 6px;top:-50px;left:-150px;margin-left: 50%;margin-top: -50px;text-align: center;}
    
.tv-mask strong{font-size: 25px;line-height: 100px;color:#b55f5a;}
.tv-mask strong i{font-size: 35px;margin-right:6px;vertical-align: middle;}









